
body {
	font-family: 'Roboto', sans-serif;
  margin: 0;
}
.image {
	position: relative;
}
.photo {
	position: absolute;
	top: 455px;
	left: 42px;
	font-size: 24px;
	color: white;
	width: 500px;
	line-height: normal;
}
h2 {
	margin-top: 42px;
	color: #212529;
	font-size: 24px;
}
h5 {
	font-size: 12px;
	background-color: white;
	width: 73px;
	position: relative;
	top: 15px;
	left: 10px;
	padding-left: 7px;
	letter-spacing: 0.4px;
}
p {
	color: #9ea0a5;
	font-size: 14px;
}
.col-lg-4 {
	margin-top: 42px;
}
.btn {
	background: #1070ca;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1.3px;
	color: white;
	margin: 0 0 15px;
	padding: 10px;
	border: 0;
}
.btn-style-01 {
	background-color: white;
	color: #234361;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
h1 {
	font-size: 24px;
	padding-top: 42px;
}
.index-form {
	margin-top: 32px;
}
.button {
	color: white;
}
.form-check-label {
	font-size: 14px;
	color: #9ea0a5;
}
.terms {
	text-decoration: underline;
	color: #56575a;
}
.quote {
	position: absolute;
	color: white;
	left: 42px;
	right: 42px;
	bottom: 42px;
}
.quote q {
	quotes: none;
	font-size: 24px;
	display: block;
}
.quote cite {
	font-size: 14px;
	font-style: normal;
	max-width: 130px;
}
.form-control {
	margin-bottom: 26px;
	height: 50px;
}

@media screen and (max-width: 991px) {
	.image img {
		width: 100%;
	}
}
